@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Oxygen+Mono&display=swap');

#modalZabbix{
  max-width: 100%;
  height: 165px;
  background-image: url(../../assets/img/zabbix-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 80px;
  position: relative;
  margin-bottom: 50px;
}

#box-{
  width: 300px;
  margin-bottom: 20px;
  color: white;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 15px;
  font-family: 'Inter', sans-serif;
  // background-color: #2962ff;
}

#box--{
  width: 300px;
  height: auto;
  // background-color: #25c481;
  display: flex;
  flex-direction: column;
}

#box--1{
  display: flex;
  // background-color: #25b7c4;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.ii{
  height: 50px;
}

#btn-za{
  width: 25px;
  height: 25px;
  background-color:#25b7c4;
  background-image: url(../../assets/icon/icon-seta.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 5px;
  right: 20px;
  bottom: 27px;
}

.b{
  letter-spacing: 0.15em;
  width: 130px;
  color: white;
}

.c{
  color: white;
}


.add-host{
  width: 100%;
  // border: black solid 1px;
  margin-bottom: 50px;
  height: auto;
}

.h-add-host{
  width: 100%;
  height: 2em;
  background-color: #c62828;
  display: flex;
  align-items: center;
  padding-left: 20px;

  color: white;
}

.b-add-host{
  width: 100%;
  height: 100%;
  // background-color: #25b7c4;
  display: flex;
  
}

#box-text{
  width: 40%;
  // background-color: #2962ff;
  height: 200px;
  padding-top: 10px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#box-t1{
  width: 100%;
  height: auto;
  // background-color: #c62828;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  p{
    top: 4px;
    position: absolute;
    background: white;
    left: 8px;
    display: flex;
    width: 45px;
    align-items: center;
    justify-content: center;
  }
  input{
    outline: none;
    height: 25px;

  }
}

#box-input{
  display: flex;
  position: relative;
  height: 40px;
  align-items: end;
}

#box-template{
  width: 60%;
  // background-color: #a68b00;
  height: 100%;
}




.container-host{
  height: auto;
  width: auto;
  // background-color: #c62828;
  margin-bottom: 50px;
}

.container-template{
  width: auto;
  max-height: 130px;
  background-color: #c62828;
}
#box-template p{
  margin: 5px 0px;
  font-size: 12px;
}

.head-host{
  width: 100%;
  height: 30px;
  padding: 5px 20px;
}

#btn-new{
  width: 50px;
  height: 25px;
  background-color: #c62828;
  color: white;
  font-size: 13px;
  border: none;
}

/*   color variables */
$clr-primary: #81d4fa;
$clr-primary-light: #e1f5fe;
$clr-primary-dark: #4fc3f7;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-pending: #fff0c2;
$clr-pending-font: #a68b00;
$clr-unpaid: #ffcdd2;
$clr-unpaid-font: #c62828;
$clr-paid: #c8e6c9;
$clr-paid-font: #388e3c;
$clr-link: #2962ff;

/*   border radius */
$radius: 0.2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.head-host{
  color: white;
}

.table-table-1{
  border-collapse: collapse;
  box-shadow: 0 5px 10px $clr-gray300;
  background-color: white;
  text-align: left;
  overflow: hidden;
  width: 100%;

  .thead-table-1 {
    box-shadow: 0 5px 10px $clr-gray300;
  }

  .th-table-1 {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  .td-table-1{
    padding: 1rem 2rem;
  }
  

  .a-table-1 {
    text-decoration: none;
    color: $clr-link;
  }

  .status {
    border-radius: $radius;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
    margin-bottom: 0;

    &-pending {
      background-color: $clr-pending;
      color: $clr-pending-font;
    }

    &-paid {
      background-color: $clr-paid;
      color: $clr-paid-font;
    }

    &-unpaid {
      background-color: $clr-unpaid;
      color: $clr-unpaid-font;
    }
  }

  .amount {
    text-align: left;
  }

  //Color alternating rows
  .tr-table-1:nth-child(even) {
    background-color: $clr-gray150;
  }
}


// ========================== Table 2


.table-table-2{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:auto;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
.th-table-2{
  padding: 10px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  // color: #fff;
  color: white;
  text-transform: uppercase;
}
.td-table-2{
  padding: 0px 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  // color: #fff;
  color: white;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

.td-table-2 input{
  width: 20px;
  height: 20px
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
// body{
//   // background: -webkit-linear-gradient(left, #25c481, #25b7c4);
//   // background: linear-gradient(to right, #25c481, #25b7c4);
//   // font-family: 'Roboto', sans-serif;
//   height: auto;
// }
// section{
//   margin: 50px;
// }


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}