* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", "Open Sans", Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

.container-cadastrar {
  position: relative;
  height: 100vh;
  width: 100%;
  background: radial-gradient(88.69% 203.63% at 96.72% 11.85%, #CC1A2B 0%, #90101D 22.71%, #47080E 48.78%, #30090D 82.94%, #210508 94.8%)
}
  .container-header {
  width: 100%;
  height: 6em;
  /* background-color:black; */

  display: flex;
  align-items: center;
  padding-left: 12em;

  position: absolute;
  z-index: 1;
  top: 0;
}

.logo-header {
  width: 165px;
  height: 45px;
  /* background-color: aqua; */
}

.bg-animation-pilula {
  position: absolute;
  z-index: 1;
  width: 463px;
  height: 305px;
  background-image: url(../../assets/img/pilula.png);
  background-position: center;
  background-size: cover;
  margin-left: 1320px;
  margin-top: 0px;
  transform: rotate(0deg)
}

.bg-animation-roda{
  width: 1500px;
  height: 1500px;

  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;

  width: 1000px;
  height: 800px;
  background-image: url(../../assets/img/roda.png);
  background-position: center;
  background-size: cover;
}


.box-cadastrar {
  z-index: 1;
  position: absolute;
  top: 270px;
  right: 23.5%;
  width: 975px;
  height: 440px;
  border-radius: 10px;

  padding: 3.5em;
  background: linear-gradient(319.74deg, rgba(0, 0, 0, 0.3952) -0.87%, rgba(0, 0, 0, 0.76) 116.41%);

  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */
}


.box-cadastrar a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.box-cadastrar-nav {
  width: 100%;
  height: auto;
  /* background-color:orange; */
  margin-bottom: 45px;
}

#box-cadastrar-nav-login {
  color: rgba(255, 255, 255, 0.2);
  transition: ease-out 0.3s;
}

#box-cadastrar-nav-login:hover {
  color: white;
}

.box-cadastrar-nav a {
  color: white;
  font-size: 20px;
  margin-right: 1em;

}

/* box que contém o formulário */
.container-form-cadastrar {
  width: 100%;
  height: 100%;
  /* background-color: blueviolet; */
}

.box-form-cadastro {
  display: flex;
  justify-content: space-between;
}

/* box do formulário */
.form-cadastrar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 100%;
  height: 200px;
  /* background-color: aquamarine; */
}

.form-cadastrar-2 {
  width: 500px;
  height: 250px;
  margin-top: 10px;
}

.form-cadastrar p {
  color: white;
  font-size: 12px;
}

.box-cadastro-1 {
  height: auto;
  width: 265px;
  /* background-color: blue; */

}

.box-cadastro-2 {
  height: auto;
  width: 265px;
  /* background-color: #851F29; */
}

/* o campo que contém o box input completo */
.box-input-cadastro {
  width: 100%;
  height: 54px;
  margin-bottom: 0.8em;
  /* background-color: #DA192C; */
}

.box-input-cadastro-p {
  color: white;
  font-family: 14px;
}

.box-input-cadastro input {
  color: white;
}

.input-cadastro {
  width: 100%;
  height: 35px;
  background: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: 0;
}

.container-usuario-imagem {
  width: 176px;
  height: 162px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;

  width: 176px;
  height: 162px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
}
  .box-img-user {
  background-image: url(../../assets/img/user.png);
  background-repeat: no-repeat;
  background-size: cover;

  height: 80px;
  width: 54px;
}

.box-button-cadastrar {
  width: 100%;
  /* background-color: blueviolet; */
  height: auto;

  display: flex;
  justify-content: flex-end;
  padding-top: 12px;

}

.btn-cadastro {
  width: 150px;
  height: 48px;
  border-radius: 5px;
  background-color: #595959;
  border: none;
  color: white;
  font-size: 16px;
  transition: ease-out 0.3s;
}

.btn-cadastro:hover{
  background-color: #A71111;
}


.cadastro-recuperar {
  margin-top: 5px;
  margin-right: 162px;
  margin-bottom: 3.5em;
}