
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Open Sans", Arial, Helvetica, sans-serif;
}


/* ----------Header Equipamento */

.conteudo-equipamento{
  background-color: #E9EDFB;
  height: AUTO;
  width: 80%;
  padding: 3em 6.5em 3em 6.5em;
}

header{
  width: 100%;
  height: 3em;
  margin-bottom: 2.3em;
  /* background-color: aquamarine; */
  display:flex;
  align-items: center;
  justify-content:space-between;
}

.titulo{
  width:250px;
  height:auto;
  /* background:white; */
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
h2.titulo{
  margin:0;
}

/*******************Body Cadastro Equipamento&*/

.container-cadastro-equipamento{
  width: 100%;
  height: 100VH;
  /* background-color: #E9EDFB; */
  display: flex;
}


.container-info-equipamento{
  width: 100%;
  height: 800px;
  background-color:white;
  border-radius:5px;
  display: flex;
  flex-direction:column;
  justify-content: start;
  padding: 3em 8em 4em 8em;
} 

.container-info-equipamento-h3{
  width: 100%;
  height: 2em;
  background:#CC2323;
  border-radius:3px;
  padding-left:2em;
  color:white;
  font-size:12px;
  display:flex;
  align-items:center;
}

.form-cadastro-equipamento{
  height: auto;
  width: 100%;
  /* background-color: chartreuse; */
  display: flex;
  justify-content: space-between;
}

.dados{
  width: 70%;
  height: auto;
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top:5%;
  padding-right:10%;
}

.box-1{
  width: 100%;
  height: 180px;
  display: flex;
  /* background-color:orange; */
  justify-content: space-between;
}

.box-1-1{
  height: 100%;
  display: flex;
  flex-direction:column;
  width: 250px;
  justify-content: space-between;
  /* background-color:blanchedalmond; */
  padding-bottom: 3em;
}

.box-1 p {
  margin-left: 10px;
  margin-bottom: 3px;
  font-size: 12px;
}

.divisor{
  height:20px;
  width: 100%;
  /* background-color: blueviolet; */
  font-size:12px;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom:2em;
}

.palito-divisor{
  width: 100%;
  height:1px;
  background: rgba(0, 0, 0, 0.4);
}

.box-2{
  width: 100%;
  height: 350px;
  display: flex;
  padding-bottom:88px;
  flex-direction: column;
  justify-content: space-between;
  /* background:blue; */
}

.container-img{
  width: 30%;
  height: 600px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: pink; */
  padding-top:5%;
  align-items:end;
}

.box-img{
  width: 100%;
  height: 200px;
  background-image: url(../../assets/img/img-switch.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#form__input_descricao{
  width:250px;
  height:100px;
  
}

#form__input_tipoEquipamento{
  position: absolute;
  font-size: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0 2em 0 10px;
  border-radius: 5px;
  border-color: #DADCE0;
  outline: none;
}

.i{
  padding-left: 10px;
}

.btn__login, .btn__login-2{
  width: 50xp;
  height: 50px;
  border : none;
  border-radius: 5px;
  margin-top: 100px;
}
.btn__login{
  background-color: #CC2323;
  width: 150px;

}

.btn__login-2{
  background-color: gray;
  width: 150px;
}



