#cont-equipamento{
    position: relative;
}


.container-button{
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 30px;
    top: 300px;
    left: 300px;
    background: orange;
}

.box-button1,  .box-button2, .box-button3{
    height: 100%;
    width: 30px;
    background-color: blue;
}

.box-button1{
    background-image: url(../../assets/icon/reboot.png);
}
