h1 {
  margin-bottom: 20px;
  text-align: center;
}

.search-form {
  position: relative;
  width: 60%;
  margin: 2rem auto;
}

.suggestion-box {
  position: absolute;
  z-index: 1;
  background-color: white;
  color: #000;
  border: 1px solid black;
  width: 100%;
  height: 150px;
  overflow: auto;
  display: none;
}

.suggestion-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.suggestion-box li {
  border-bottom: 1px solid black;
  border-width: 1.5px;
  padding: 4px;
  cursor: pointer;
  border-color: #C4C4C4;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 20px;
}

.suggestion-box li:last-child {
  border-bottom: none;
}

.selected-country {
  margin-top: 1rem;
}

.show {
  display: block;
}

.show.suggestion-box{
  width: 324px;
  height: auto;
  left:0%;
  border:0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  top: 35px;

}

.hide {
  display: none;
}

.errorMsg {
  color: #ff0000;
  margin-top: 10px;
}

.result {
  margin-top: 20px;
}


.search-form{
  margin: 0;
  padding:0 1em 0 1em;
  width: 324px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background: white;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.lupa{
  width: 20px;
  height:20px;
  background-image: url(../../assets/icon/lupa.png);
  background-size:cover;
  background-repeat:no-repeat;
}

#searchTerm{
  height: 30px;
  width: 250px;
  border:none;
  outline:0;
}

.form-group{
  height: 100%;
}