#modalGrafana{
    max-width: 100%;
    height: 165px;
    background-image: url(../../assets/img/grafana-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 80px;
    position: relative;
    margin-bottom: 50px;
  }

  .grafana{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
  }

  #frame-pequeno, #frame-medio, #frame-grande{
    width: 100%;
    height: auto;
    display: flex;
  }


#get--{
  width: 100%;
  height: 80px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

#get-- p{
  width: 450px;
}

#get-- input{
  width: 450px;
}

#get-- button{
  
}